* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 2000px;
}

/* Escribe aquí las reglas*/
a{  
  display: inline-block;
  align-items: stretch;
  
 
  
}
li:hover {
  background-color: black;
  color: greenyellow;
}
.contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} 