* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 2000px;
}

/* Escribe aquí las reglas*/
a{  
  display: inline-block;
  align-items: stretch;
  
 
  
}
.hijo:hover li {
  background-color: black;
  color: greenyellow;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
 /* align-items: stretch; */
} 

.hijo {
  height: 25%;
}
