/*******************************************************************************************************
                                   variables
*******************************************************************************************************/
html{
    --backgroun_color: rgb(116, 116, 228,0.4);

}
/*******************************************************************************************************
                               general y etiquetas
*******************************************************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

header {
    font-size: 1.75rem;
    text-align: center;
    background-color: var(--backgroun_color);
    margin-left: 8rem;
    margin-right: 5rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

main{
    margin-left: 8rem;
    margin-right: 5rem;
    
} 

ul{color: rgb(202, 103, 28);

    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    
}



/*******************************************************************************************************
                               clases
*******************************************************************************************************/

.no_bullets {
    list-style: none;
}

/* .img_libro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;

    max-width: 50%;
    height: auto;
}
 */
/* .img_libro:hover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
} */

/*******************************************************************************************************
                               id
*******************************************************************************************************/

.neurociencia_del_cuerpo_img{
    background-image: url(/html/dia_05/img/neurociencia-del-cuerpo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

.neurociencia_del_cuerpo_img:hover{
    background-image: url(/html/dia_05/img/neurociencia-del-cuerpo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}

div:hover{
    visibility: collapse;
}


/* ul:hover {
    visibility: collapse;
} */

/* #luces_y_mareas{

    background-image: url(/html/dia_05/img/luces_y_mareas.gif);
} */



/* #luces_y_mareas:hover {
    visibility: visible;
    background-image: url(/html/dia_05/img/luces_y_mareas.gif);
    height: 520px;
    width: 120px;
} */

/* #debut{
    background-image: url(/html/dia_05/img/christina-rosenvinge-libro-debut.jpg);
} */

/* #debut:hover {
    visibility: visible;
    background-image: url(/html/dia_05/img/christina-rosenvinge-libro-debut.jpg);
    height: 520px;
    width: 120px;
}
 */

