* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
  
    /* Escribe aquí las declaraciones para centrar el contenido de body con flex */
  
  }
  
  section {
    border: 3px solid #7f8c8d;
    color: white;
    font-size: 2em;
    background-color: #3498db;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
    /* La section ocupa la mitad de su padre, tanto de ancho como de alto */
    width: 50%;
    height: 50%;
  
    /* Escribe aquí las declaraciones para centrar el contenido de la section con flex */
    display: flex;
    justify-content: center; 
  
  }